@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;  
  /* background-color: #fd2c2a; */
  color: #fff;
}

canvas{
   pointer-events:none;

}

span.growing{
  background-color: #fd2c2a;
}